html,
body {
    min-height: 100%;
    color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #f6f6f6;
}
body {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(#131c21, 60%, #50207e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hexagon_container {
    display: block;
    background-image: url('../img/text_hexagon_default.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 1.2em;
    text-align: center;
    padding: 1.9em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

}
.hexagon_container:hover,
.hexagon_container:focus {
    cursor: pointer;
    background-image: url('../img/text_hexagon_selected.svg');
    text-decoration: none;
    color: black;
}
.michroma_font {
    font-family: 'Michroma', sans-serif;
}
.page_header {
    font-family: 'Michroma', sans-serif;
    margin-bottom: 1.2em;
}