@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Roboto&display=swap");

html,
body {
    min-height: 100%;
    color: #f6f6f6;
    font-family: "Roboto", sans-serif;
}

a {
    color: #f6f6f6;
}

body {
    user-select: none;
    padding-top: 16px;
    background-image: linear-gradient(#131c21, 60%, #50207e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* @media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
} */

.hexagon_container {
    display: flex;
    align-items: center;
    width: 280px;
    height: 70px;
    max-width: 100%;
    max-height: 100%;
    background-image: url("../img/text_hexagon_default.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* text-transform: uppercase; */
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 2em;
    user-select: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .hexagon_container {
        width: 400px;
        height: 100px;
    }
}

.hexagon_container.selected,
.hexagon_container:hover:before,
.hexagon_container:hover {
    text-decoration: none;
    color: black;
}

.hexagon_container.selected,
.hexagon_container:not(.correct):hover,
.hexagon_container:not(.correct):focus {
    background-image: url("../img/text_hexagon_selected.svg");
}

.hexagon_container.correct {
    animation-name: flash_correct;
    animation-duration: 0.3s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
    /* animation: flash_correct 1s linear 4s; */
}

@keyframes flash_correct {
    100% {
        color: black;
        background-image: url("../img/text_hexagon_correct.svg");
    }
}

.hexagon_nav {
    font-size: 0.9em;
    justify-content: center;
}

@media (min-width: 768px) {
    .hexagon_container {
        font-size: 1.1em;
    }
}

.michroma_font {
    font-family: "Michroma", sans-serif;
}

.page_header {
    font-family: "Michroma", sans-serif;
    margin-bottom: 1.2em;
    /* font-size: 0.8em; */
}

@media (max-width: 768px) {
    .page_header {
        font-size: 1.1em;
    }
}

.larger_text {
    font-size: 1.5em;
}

.vertical_align_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashing {
    animation: flasher 1.5s linear infinite;
}

@keyframes flasher {
    50% {
        opacity: 0;
    }
}

#btn_music {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer;
    z-index: 1;
}

#btn_music.music_on > #music_on {
    display: inline-block;
}

#btn_music.music_on > #music_off {
    display: none;
}

#btn_music.music_off > #music_on {
    display: none;
}

#btn_music.music_off > #music_off {
    display: inline-block;
}
