@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto&display=swap');

html,
body {
    min-height: 100%;
    color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #f6f6f6;
}
body {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(#131c21, 60%, #50207e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hexagon_container {
    display: flex;
    align-items: center;
    width: 400px;
    max-width: 100%;
    height: 100px;
    background-image: url('../img/text_hexagon_default.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 2em;
    margin-left: auto;
    margin-right: auto;
}
.hexagon_container:hover,
.hexagon_container:focus {
    cursor: pointer;
    background-image: url('../img/text_hexagon_selected.svg');
    text-decoration: none;
    color: black;
}
.hexagon_nav{
    font-size: 1.1em;
    justify-content: center;
}
.michroma_font {
    font-family: 'Michroma', sans-serif;
}
.page_header {
    font-family: 'Michroma', sans-serif;
    margin-bottom: 1.2em;
}
