/*
currently not using

usage:

<div class="hexagon">
    <div class="hexagon_border border_left"></div>
    <div class="hexagon_border border_right"></div>
    <div>bla bla bla</div>
</div>

*/

.hexagon {
    padding: 1.3em;
    width: 80%;
    position: relative;
    background-color: #040526;
    /* height: 80px; */
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-left: 40px;
}

.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    height: 99%;
    top: 0;
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
}

.hexagon:after {
    left: 100%;
    border-left: 38px solid #040526;
}

.hexagon:before {
    right: 100%;
    border-right: 38px solid #040526;
}

.hexagon .hexagon_border {
    position: absolute;
    height: 100%;
    /* size of parent's border */
    top: -2px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    z-index: -1;
}

.hexagon .hexagon_border.border_right {
    left: 100%;
    border-left: 40px solid white;
}

.hexagon .hexagon_border.border_left {
    right: 100%;
    border-right: 40px solid white;
}
