@import "./variable";

#game_loading_spinner.spinner_container {
    background-color: $red-pigment;
    color: #fff;
}

.answer_button_layout {
    font-size: 0.9em;
    // background-color: $tufts-blue;
    // color: #fff;
    border: 1.5px solid $tufts-blue;
    color: $tufts-blue;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 8px;
}
.answer_button {
    cursor: pointer;
}
.selected,
.answer_button:hover {
    background-color: $tufts-blue;
    color: #fff;
}
.incorrect {
    background-color: $red-pigment;
    color: #fff;
}
.answer_button_layout.incorrect {
    border: 1.5px solid $red-pigment;
}

[data-answer-option] {
    display: flex;
}
[data-answer-option]::before {
    margin-right: 8px;
}
[data-answer-option="0"]::before {
    content: "A:";
}
[data-answer-option="1"]::before {
    content: "B:";
}
[data-answer-option="2"]::before {
    content: "C:";
}
[data-answer-option="3"]::before {
    content: "D:";
}

#review_list > li {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}
#review_list .review_answer {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
}
#review_list p[data-answer-option] {
    margin: 0;
}
