@import "./variable";

html,
body {
    min-height: 100%;
}

body {
    color: $black-coffee;
}

.navbar {
    background-color: $red-pigment;
}

.page_footer {
    background-color: $red-pigment;
}

.spinner_container {
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99999;
}

[data-template] {
    display: none !important;
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

// .changing-fa{
//     animation-name: flash_correct;
//     animation-duration:0.2s;
//     animation-fill-mode: forwards;
// }

// @keyframes flash_correct {
//     50% {
//         font-size: 0.5em;
//     }
//     100% {
//         font-size: 1em;
//     }
// }
