@import "./variable";

html,
body {
    min-height: 100%;
}

body {
    color: $black-coffee;
}

.navbar {
    background-color: $red-pigment;
}

.page_footer {
    background-color: $red-pigment;
}

// .changing-fa{
//     animation-name: flash_correct;
//     animation-duration:0.2s;
//     animation-fill-mode: forwards;
// }

// @keyframes flash_correct {
//     50% {
//         font-size: 0.5em;
//     }
//     100% {
//         font-size: 1em;
//     }
// }
