@import "./variable";

li {
    font-size: 1.2em;
}

.ul_chapter > li:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
}

.check_label {
    display: block;
    user-select: none;
    cursor: pointer;
    padding: 16px 16px;
}

.fa_check_input:not(:checked) ~ span i.fa-check-circle::before {
    content: "\f111";
    font-weight: 400;
}

.fa_check_input:checked ~ span i.fa-check-circle::before {
    content: "\f058";
    font-weight: 900;
}

#modal_game .card {
    border-color: $tufts-blue;
}
#modal_game .card a {
    color: $tufts-blue;
}
#modal_game .card.disabled {
    border-color: rgba(0, 0, 0, 0.125);
}
#modal_game .card.disabled a {
    color: rgba(0, 0, 0, 0.125);
}

a.game_mode_card {
    text-align: center;
    height: 100%;
    width: 100%;
}

#modal_game .card a.game_mode_card:hover,
#modal_game .card a.game_mode_card:focus,
#modal_game .card a.game_mode_card:hover *,
#modal_game .card a.game_mode_card:focus * {
    text-decoration: none;
    color: #fff;
    background-color: $tufts-blue;
}

#millionaire_mode_card .cover {
    display: none;
    background-color: rgba(0, 0, 0, 0.125);
}

#millionaire_mode_card.disabled .cover {
    display: block;
}

#millionaire_mode_card .spinner-border,
#millionaire_mode_card .not_enough_questions_warning {
    display: none;
}
#millionaire_mode_card.disabled.loading .spinner-border {
    display: block;
}
#millionaire_mode_card.disabled.not_enough_questions .not_enough_questions_warning {
    display: block;
}
