@import "./variable";

.answer_button {
    font-size: 0.9em;
    // background-color: $tufts-blue;
    // color: #fff;
    border: 1.5px solid $tufts-blue;
    color: $tufts-blue;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

.answer_button:hover {
    background-color: $tufts-blue;
    color: #fff;
}

.answer_button.long_answer {
    font-size: 0.8em;
}

.continue_button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

// @media (min-width: 768px) {
//     .question_text {
//         margin-left: 1em;
//         margin-right: 1em;
//         padding: 2em;
//         font-size: 1.2em;
//         min-height: 150px;
//     }

//     .question_text,
//     .answer_button {
//         font-size: 1em;
//     }
// }

// .answer_button:before {
//     content: "•";
//     margin-right: 1em;
// }

// .answer_button > .answer_alphabet {
//     color: #e9be48;
// }
