/* SCSS HEX */
$linen: #f9eae1ff;
$khaki-web: #d1be9cff;
$tufts-blue: #007bff;
$black-coffee: #342e37ff;
$red-pigment: #ee3625ff;

/* SCSS HSL */
$linen: hsla(22, 67%, 93%, 1);
$khaki-web: hsla(38, 37%, 72%, 1);
$tufts-blue: hsla(210, 77%, 57%, 1);
$black-coffee: hsla(280, 9%, 20%, 1);
$red-pigment: hsla(5, 86%, 54%, 1);

/* SCSS RGB */
$linen: rgba(249, 234, 225, 1);
$khaki-web: rgba(209, 190, 156, 1);
$tufts-blue: rgba(60, 145, 230, 1);
$black-coffee: rgba(52, 46, 55, 1);
$red-pigment: rgba(238, 54, 37, 1);

/* BOOTSTRAP COLOR */
$bs-primary: #007bff;

$larger-font: 1.2em;
$smaller-font: 0.9em;
